<body>
 <main>
  
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
  <% if @book.errors.any? %>
   <%= @book.errors.count %>error
    <ul>
     <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
     <% end %>
    </ul>
  <% end %>
   <p id="notice"></p>

  
  <div class="container px-5 px-sm-0">
   <div class="row">
    <div class="col-md-3">
    
    <%= render 'books/list', user: @book.user %>

    </div>

   
    <div class="col-md-8 offset-md-1">
      <table class="table table-hover table-inverse custom-table">
     <h2>Book detaill</h2>

     <tr>
      <td>
      <% if user_signed_in? %>
      <% if @book.user.avatar.attached? %>
       <%= link_to image_tag(@book.user.avatar, size: "100x100"), user_path(@book.user) %>
      <% else %>
       <%= link_to image_tag('default-image', size: "100x100"), user_path(@book.user) %>
      <% end %>
      <% end %>
      <br>
       <%= link_to @book.user.name, user_path(@book.user) %>
      </td>
      <td>
       <%= link_to @book.title, book_path(@book) %>
      </td>
      <td>
       <%= @book.body %>
      </td>
      <td>
      <% if user_signed_in? && @book.user == current_user %>
       <%= link_to "Edit", edit_book_path(@book), class: "btn btn-success btn-sm" %>
      <% end %>
      </td>
      <td>
      <% if user_signed_in? && @book.user == current_user %>
       <%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-sm btn-danger" %>
      <% end %> 
      </td>

       </td>
      </tr>
     </table>
   </div>
  </div>
 </main>
</body>